<style>
	.icons > * {
		position: absolute;
		font-size: 2.6em;
	}
</style>
<div data-tl-id="icons" class="icons behind">
	<iconify-icon icon="devicon:html5"></iconify-icon>
	<iconify-icon icon="devicon:css3"></iconify-icon>
	<iconify-icon icon="devicon:javascript"></iconify-icon>
	<iconify-icon icon="devicon:typescript"></iconify-icon>
	<iconify-icon icon="devicon:cplusplus"></iconify-icon>
	<iconify-icon icon="devicon:csharp"></iconify-icon>
	<iconify-icon icon="devicon:swift"></iconify-icon>
	<iconify-icon icon="devicon:kotlin"></iconify-icon>
	<iconify-icon icon="devicon:postgresql"></iconify-icon>
	<iconify-icon icon="devicon:azuresqldatabase"></iconify-icon>
</div>

<div data-tl-id="frameworks" class="icons behind">
	<iconify-icon icon="devicon:docker"></iconify-icon>
	<iconify-icon icon="devicon:svelte"></iconify-icon>
	<iconify-icon icon="devicon:react"></iconify-icon>
	<iconify-icon icon="devicon:angular"></iconify-icon>
	<iconify-icon icon="devicon:azure"></iconify-icon>
	<iconify-icon icon="devicon:googlecloud"></iconify-icon>
</div>
