.behind {
	z-index: -1;
	opacity: 0.6;
	position: relative;
}
.d-flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.pl-2 {
	padding-left: 2em;
}
.pt-2 {
	padding-top: 2em;
}
.br-1 {
	border-radius: 1em;
}
.max-w-3 {
	max-width: 30em;
}
.max-w-50 {
	max-width: 50%;
}
.max-h-3 {
	max-height: 25em;
}
.code {
	background-color: #4f4f4f;
	padding: 1px 4px;
	font-family: "Courier New", Courier, monospace;
	color: rgba(255, 255, 255, 0.804);
}

.overflow-hidden {
	overflow: hidden;
}

.segment {
	padding-bottom: 1em;
}

.percentage {
	width: 100%;
	min-height: 0.6em;
	background-color: gray;
	margin-top: -0.7em;
	z-index: -1;
}
.percentage.js {
	background-color: #c6b63d;
}
.percentage.html {
	background-color: #e34c25;
}
.percentage.css {
	background-color: #563d7c;
}
span.usp {
	font-family: "Poppins";
	font-weight: bold;
}
.transition {
	transition: all 400ms ease;
}

.tabs > button {
	background-color: transparent;
	color: white;
	opacity: 0.5;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	margin-right: 0.5em;
	transition: opacity 250ms ease;
}
.tabs > button:hover {
	opacity: 1;
}

.tabs > button.active {
	opacity: 1;
	font-weight: bold;
	border-bottom: 1px solid white;
}

.interactable {
	pointer-events: auto;
}

.tab-page.in {
	display: block;
}
.tab-page.out {
	opacity: 0;
}
.tab-page.hidden {
	overflow: hidden;
	height: 0;
	opacity: 0;
	margin: 0;
	padding: 0;
	padding-left: 5em;
}
.tab-page {
	height: auto;
	opacity: 1;
	padding-left: 0px;
	transition: opacity 200ms ease, padding-left 200ms ease,
		padding-right 200ms ease;
}
